<!-- index.html -->
{% extends "base.html" %}
<br />
{% block title %}我有話要說{% endblock %}
<br />
{% block content %}
<div class="container">
  <div class="row">
    {% for p in posts %}
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          【{{ p.nickname }}】覺得 --->>>> {{ p.mood }}
        </div>
        <div class="panel-body" style="display: flex">
          <img
            class="mood_img"
            src="{{ p.mood.pic_path}}"
            width="100px"
            height="100px"
            alt=""
          />

          <p>{{ p.message | linebreaks }}</p>
        </div>
        <div class="panel-footer" align="right">
          <i><small>{{ p.pub_time }}</small></i>
          <span
            class="glyphicon glyphicon-trash"
            onclick="go_delete( {{ p.id }} )"
          ></span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" align="center">
          <h3>~~寶寶心裡苦，寶寶只在這裡說~~</h3>
        </div>
      </div>
    </div>
  </div>

  {% if message %}
  <div class="alert alert-warning">{{ message }}</div>
  {% endif %}

  <form name="my form" action="/" method="GET">
    {% csrf_token %}
    <br />
    <h2>心情留言板</h2>
    現在的心情：<br />

    <div class="mood_choice" style="display: flex">
      {% for m in moods %}
      <input type="radio" name="mood" value="{{ m.status }}" />
      <h5 style="margin-right: 10px">{{ m.status }}</h5>
      {% endfor %}
    </div>
    <div>
      <label for="user_id">你的暱稱：</label>
      <input id="user_id" type="text" name="user_id" />
      <label for="user_pass">張貼/刪除密碼：</label>
      <input id="user_pass" type="password" name="user_pass" /><br />
    </div>
    <br />
    <div><textarea name="user_post" rows="3" cols="70"></textarea><br /></div>
    <div>
      <input type="submit" value="張貼" class="btn btn-primary" />
      <input type="reset" value="清除重填" class="btn btn-danger" />
    </div>
  </form>
  <br />
</div>
{% endblock %}
